pyopenssl==0.15.1
ndg-httpsclient
pyasn1
synapseclient
ipython
pandas
awscli
matplotlib
seaborn
patsy
statsmodels
fabric
cython
beautifulsoup4
boto
Flask
HTSeq
Jinja2
MarkupSafe
# PIL
Pillow
PyVCF
# Pymacs
PyYAML
Pygments
Sphinx
Werkzeug
astroid
awsebcli
# basemap
bcdoc
biopython
blessed
botocore
cement
certifi
colorama
coverage
cssselect
decorator
docker-py
dockerpty
docopt
docutils
ecdsa
eventlet
feedparser
fusepy
gdata
ggplot
gnureadline
greenlet
howdoi
html5lib
iptools
iso8601
itsdangerous
jmespath
jsonschema
lifelines
# llvmpy
logilab-astng
logilab-common
lxml
matplotlib-venn
memory-profiler
mercurial
mistune
mock
mpld3
networkx
nose
numexpr
argcomplete
paramiko
pathspec
pep8
ply
psutil
pycrypto
pyflakes
pylint
pyparsing
pyquery
pysftp
python-dateutil
pythonpy
pytz
pyzmq
requests-cache
requests
rope
ropemacs
ropemode
# rpy2
rsa
scikit-learn
scp
singledispatch
six
ssh
stevedore
term2048
texttable
ipykernel
tornado
unotools
virtualenv-clone
virtualenv
virtualenvwrapper
wcwidth
websocket-client
workerpool
xlrd
xmltodict
jupyter
jupyter-client
jupyter-console
jupyter-core
nbconvert
ipywidgets
nbformat
